<Section class='recipe-page ph-10vw'>
    <div class='recipe-page-details'>
        <%= image_tag @recipe.photo, alt: 'recipe photo' %>
        <div class='recipe-details'>
            <h4 class='recipe-name'><%= @recipe.name %>:</h4>
            <p> <%= @recipe.description %></p>
        </div>
    </div>
    <div class='recipe-page-instructions'>
        <div class='instructions'>
            <h3>Instructions</h3>
            <p>instructions</p>
        </div>
        <div class='ingredients'>
            <h3>Ingredients</h3>
            <ul>
                <% @recipe.ingredients.each do |ingredient| %>
                    <li><%= ingredient.name %></li>
                <% end %>
            </ul>
        </div>
        <div class='actions'>
            <button>Generate Shopping List</button>
            <% if user_signed_in? %>
              <button>Delete Recipe</button>
              <button>Public</button>
            <% end %>
        </div>

    </div>
</Section>