<%= render 'hero_home' %>
<Section class='public-recipe-list ph-10vw'>
    <h4 class="title-heading">Public Recipe List</h4>
    <div class="cards-grid-container">
        <% @recipes.each do |recipe| %>
            <div class='recipe-card'>
                <div class='recipe-card-photo'>
                    <%= image_tag recipe.photo, class: 'recipe-photo', alt: 'recipe cover image' %>
                </div>
                <div class='recipe-card-header'>
                    <%= link_to recipe.name, user_recipe_path(recipe.user.id, recipe.id) %>
                </div>
                <div class='recipe-card-info'>
                    <p>Preparation time: 0min</p>
                    <p>Ingredients Needed: 0</p>
                </div>
                <div class='recipe-actions'>
                    <p>Rating: 0</p>
                </div>
            </div>
        <% end %>
    </div>
</Section>
