@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $yellow: #FF9E0B;
 $green: #88BA3E;

 html {
    font-size: 62.5%;
 }

 * {
    margin: 0;
    padding: 0;
 }
 body {
   position: relative;
   padding-top: 100px;

   .ph-10vw {
      padding-left: 10vw;
      padding-right: 10vw;
   }

   .pt-20vh {
      padding-top: 20vh;
   }

   .yellow-text {
      color: $yellow;
   }

   .y-button {
      background: linear-gradient(#FF9E0B, #e88e08);;
      width: 100px;
      height: 30px;
      padding: 5px;
      color: white;
      border-radius: 5px;
      font-size: 1.5rem;
      font-family: 'Karla', sans-serif;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;

      a {
         text-decoration: none;
         background: none;
      }
   }

   .y-button:hover {
      cursor: pointer;
      background: $yellow;
   }

   .t-button {
      color: black;
      width: 100px;
      height: 30px;
      padding: 5px;
      background: none;
      font-size: 1.5rem;
      font-family: 'Karla', sans-serif;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;

      a {
         text-decoration: none;
         background: none;
      }
   }

   .t-button:hover {
      cursor: pointer;
      color: $yellow;
   }

   .navbar {
      position: absolute;
      top: 0;
      height: 80px;
      width: 80vw;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 5;
      font-size: 1.5rem;

      a {
         text-decoration: none;
         color: black;
         font-weight: 600;
      }

      .navbarlogo {
         height: 60px;  
         width: auto;    
      }

      .navbar-buttons {

         .navButton {
            font-family: 'Lato', sans-serif;
            font-weight: 500;
            background: none;
            border: none;
            margin: 0 10px;
            font-size: 1.5rem;
         }
   
         .navButton:hover {
            cursor: pointer;
            color: $green; 
         }

      }
   }

   .hero {
      height: 70vh;
      width: 50vw;
      padding-top: 20vh;

      .l-hero {
         width: 70%;
      }

      #bg-1,
      #bg-2 {
         position: absolute;
      }

      #bg-1 {
         z-index: -5;
         height: 100vh;
         top: 0;
         right: 0;
      }

      #bg-2 {
         z-index: -1;
         height: 70vh;
         top: 15vh;
         right: 15vh;
      }

      h1,
      h2 {
         font-family: 'Lato', sans-serif;
         font-weight: 900;
         text-transform: uppercase;
         font-size: 4rem;
      }
      
      .hero-headings {
         margin: 2.5vh 0;
      }

      p {
         font-family: 'Karla', sans-serif;
         font-weight: 400;
         font-size: 1.8rem;
         margin: 2.5vh 0;
         color: gray;
      }

      .buttons {
         display: flex;
         align-items: center;
         margin: 2.5vh 0;
      }
   }

 }