@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');
$yellow: #FF9E0B;
$green: #88BA3E;
$light-gray: #F2F2F2;

.private-recipe-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;

    .title-heading {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 20vh;
    }

    .cards-grid-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 5vw;

        .recipe-card {
            position: relative;
            background-color: $light-gray;
            border-radius: 15px;
            height: 300px;
            width: 250px;
            min-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .recipe-card-photo {
                position: absolute;
                top: -75px;
                left: 50%;
                transform: translateX(-50%);

                .recipe-photo {
                    width: 150px;
                    height: auto;
                    border-radius: 50%;
                    border: 3px solid $green;
    
                }
            }

            .recipe-card-header {
                width: 80%;
                display: flex;
                justify-content: center;
                margin: 15px auto;
                margin-top: 120px;
                font-family: 'Karla', sans-serif;
                text-transform: capitalize;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
            }

            hr {
              width: 80%;  
              margin: 7.5px auto;
            }

            .recipe-card-info {
                display: flex;
                font-size: 1.3rem;
                width: 80%;
                font-family: 'Karla', 'sans-serif';

                * {
                    flex-grow: 1;
                    text-align: center;
                }
            }

            .recipe-actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.5rem;
                width: 80%;
                margin: 15px auto;
                font-family: 'Karla', 'sans-serif';
                font-weight: 500;

                p {
                    font-weight: 500;
                }

                i {
                    font-size: 2.5rem;
                    color: $yellow;
                }
            }

        }

        .recipe-card:hover {
            background-color: $yellow;
            color: white;
            cursor: pointer;

            a {
                color: white;
            }

            i {
                color: white;
            }
        }


    }
}