@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');
$yellow: #FF9E0B;
$green: #88BA3E;
$light-gray: #f2f2f2;

.recipe-page {
   display: flex;
   height: 70vh;

   .recipe-page-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-family: 'Karla', sans-serif;

        .recipe-details {
            flex: 1;

            .recipe-name {
                color: $green;
            }
        }

        img {
            flex: 1;
            height: 50%;
            width: 50%;
        }

   }

   .recipe-page-instructions {
    flex: 1;
    background-color: $light-gray;

        /* Style the container for the toggle switch */
        .form-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        /* Hide the default checkbox */
        .form-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider (circle) */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
        }
        
        /* Rounded sliders (use border-radius to round the corners) */
        .slider.round {
            border-radius: 34px;
        }
        
        /* On state (when checked) */
        .form-switch input:checked + .slider {
            background-color: #2196F3;
        }
        
        /* Handle on the left */
        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
        
        /* On state (when checked) */
        .form-switch input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
   }
}