@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');
$yellow: #FF9E0B;
$green: #88BA3E;
$light-gray: #f2f2f2;

.recipe-page {
   display: flex;
   height: 70vh;

   .recipe-page-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        font-size: 1.5rem;
        font-family: 'Karla', sans-serif;

        .recipe-details {
            flex: 1;
            margin-top: 35px;
            text-align: justify;

            .recipe-name {
                color: $green;
            }
        }

        img {
            flex: 1;
            height: 50%;
            width: 50%;
            border-radius: 50%;
            border: 5px solid $green;
            margin: 0 auto;
        }

   }

   .recipe-page-instructions {
        flex: 1;
        background-color: $light-gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        padding: 20px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        /* Styles for the container */
        .form-check {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        
        /* Styles for the switch itself */
        .form-check-input[type="checkbox"] {
            display: none; /* Hide the actual checkbox */
        }
        
        /* Styles for the slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc; /* Default color of the switch */
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
        }
        
        /* Changing the background color when the switch is checked (on) */
        .form-check-input[type="checkbox"]:checked + .slider {
            background-color: #2196F3;
        }
        
        /* Styles for the slider's round shape (the thumb) */
        .slider::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
        
        /* Moving the round shape when the switch is checked (on) */
        .form-check-input[type="checkbox"]:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    
        .actions {
            display: flex;
            justify-content: space-between;
        }
   }
}